@{
    ViewData["Title"] = "League Of Legends Info Search";
}

유저명
<div>
    <input type = "text" class="input-sm" id="summonerName" name="summonerName" /><input type="button" value="검색" onclick="javascript:GetSummonerInfo()" class="btn btn-sm"/>
</div>



      

@*<div>
    <input type="text" class="input-sm" id="summonerName" /> <input type="button" value="검색" class="btn btn-sm" onclick="javascript: GetUserList();"/>
</div>

<div class="result">

</div>
<script>
    function GetUserList() {
        var summonerName = $("#summonerName").val();
        if (summonerName != '') {
            $.get("API/GetRecord/" + summonerName)
                .done(function (data) {
                    console.log(data);
                    if (data == undefined) {
                        $(".result").html("");
                    } else {
                        $(".result").html("Name : " + data.name + "\n Profile : " + data.revisionDateTime);
                    }
            })
            .fail(function () {
                $(".result").html("오류");
            })
            .always(function () {
            });
        } else {
            $(".result").html("");
        }
    }
   
</script>*@

<script>

    function GetSummonerInfo() {
        var summonerName = $("#summonerName").val();
        var param = $.param({ summonerName: summonerName, region: "" });
        var url = '/Summoner/MainInfo?' + param;
        if (summonerName != '') {
            window.location.href = url;
        } else {
        }
    
    }
</script>